.home__cardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.home__search-container {
  display: flex;
  align-items: center;
  margin-block-start: 1rem;
  margin-block-end: 3rem;
}
