.card__container {
  border-radius: 1rem;
  width: 100%;
  background-color: gray;
  background-color: orange;
  font-size: 0.875rem;
  display: flex;
  align-items: flex-end;
  margin-block-end: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  margin-top: -1rem;
  width: 100%;

  object-position: center -15px;
}

.card__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--color-white);
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  justify-self: flex-end;
}

.card__details__title {
  text-transform: capitalize;
}
