.card__container {
  border-radius: 1rem;
  width: 100%;

  background: linear-gradient(200deg, rgba(255, 204, 8, 1) 34%, rgba(255, 224, 185, 1) 100%);
  font-size: 0.875rem;
  display: flex;
  align-items: flex-end;
  margin-block-end: 1rem;
  margin-top: 8vh;
  margin-bottom: 3vh;
}

.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 100%;
  margin-top: -12vh;
  padding-bottom: 1vh;
}

.card__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--color-white);
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  justify-self: flex-end;
}

.card__details__title {
  text-transform: capitalize;
}
