@font-face {
  font-family: Inter;
  src: url(/fonts/Inter-VariableFont.ttf);
}

@font-face {
  font-family: Roboto-Black;
  src: url(/fonts/Roboto-Black.ttf);
  font-weight: 900;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-background: #ccdadd;
  --color-background-dark: #075668;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-light: #ebebeb;
  --color-gray-dark: #909090;
  --color-bug: #3bba00;
  --color-dark: #1c1c1c;
  --color-dragon: #01458a;
  --color-electric: #ffe600;
  --color-fairy: #ffc2f9;
  --color-fighting: #e40202;
  --color-fire: #ff9900;
  --color-flying: #89abb5;
  --color-ghost: #5a1e63;
  --color-grass: #56931c;
  --color-ground: #965a00;
  --color-ice: #69d2ff;
  --color-normal: #b3b3b3;
  --color-shadow: #6fe000;
  --color-poison: #ac00ae;
  --color-psychic: #ff81f2;
  --color-rock: #e1b237;
  --color-steel: #2a4950;
  --color-water: #00a0e4;
  --color-poke-yellow: #ffcb03;
  --color-poke-blue: #2d72b8;
}

html {
  font-family: Inter;
  background-color: var(--color-background);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

.wrapper {
  padding-inline: 2rem;
  max-width: 450px;
  margin-inline: auto;
  padding-block-start: 1rem;
}
