@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.detail {
  margin-top: -1px;
  background-color: var(--color-background);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
}
.detail.dark {
  background-color: var(--color-background-dark);
}
.detail__searchbar {
  width: 100%;
  height: 2rem;
  display: flex;
  margin-block-start: 1rem;
  margin-block-end: 3rem;
}

/* --- image and title */
.detail__image-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail__image {
  animation: bounce-in 2s ease;
}

.detail__id-name {
  margin-top: 1.875rem;
  font-family: Roboto-Black, Arial, Helvetica, sans-serif;

  font-size: 2.25rem;
  -webkit-text-fill-color: #ffcb05;
  -webkit-text-stroke: 0.1563rem #2c72b8;
  font-weight: 900;
  text-align: center;
}
.detail__image_wrapper {
  margin-top: 14vh;
  background: linear-gradient(#ffcb05, #ffe1c6);
  border-radius: 20px;
  width: 60%;
}
.detail img {
  margin-top: -16vh;
}
/* --- types */
.detail__types {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.125rem;
}

.detail__types p {
  border-radius: 5px;
  padding: 0.4rem 1.6rem;
  text-transform: uppercase;
  color: var(--color-white);
  text-align: center;
  font-weight: 600;
}
